body {

    font-family:Arial, Helvetica, sans-serif;
    font-size: 11px;

    display: grid;
    grid-template-rows:     3em 20px 150px 300px 5em 100fr;
    grid-template-columns: 150px 20px 1fr 20px 130px 20px 150px 20px 150px;

}

header.optional {
    border: 0px;
    border-bottom: 1px dotted #7F7F7F;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 10;
}
.article-title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
}

header.ceic {

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 10;

    height:50%;
    background-color: #F7F1E8;
    border-bottom: 1mm solid #DCBE98;
}

header {

}

main {


}

content {

    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;

    
    
}

aside {



}

aside.ads-left {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;

    border-right: 0.1em solid #7F7F7F;
}

aside.ads-right-1 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 6;

    background-color:aquamarine;
}

aside.ads-pic-1 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 6;
    grid-column-end: 7;

}
aside.ads-pic-2 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 8;
    grid-column-end: 9;

}

aside.ads-right-2 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 7;
    grid-column-end: 8;

    background-color:aqua;
}

aside.ads-right-3 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 9;
    grid-column-end: 10;

    background-color:darkslategrey;
}

footer {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 10;

}